body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:39px;
  width:430px;
  height:880px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:669px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:145px;
  width:378px;
  height:669px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:172px;
  height:48px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:173px;
  width:162px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:2px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:440px;
  width:328px;
  height:1px;
  opacity:0.1;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:272px;
  height:272px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:185px;
  width:262px;
  height:262px;
  opacity:0.8;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:308px;
  height:254px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:489px;
  width:298px;
  height:244px;
  font-family:'造字工房启黑体（非商用） Oblique', '造字工房启黑体（非商用） 常规体', '造字工房启黑体（非商用）';
  font-weight:400;
  font-style:oblique;
  color:#41ABE2;
  text-align:center;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
